@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .text-custom-color {
        color: #073d73; /* Reemplaza #123456 con el código de color que deseas */
    }
</style>
<div class="alert alert-primary" role="alert">
    Bienvenido:  David F. <a href="#" class="alert-link">Administrador</a>
</div>
<div class="container">

    <section class="container">
        <div class="row text-custom-color align-items-center">
            <article class="col-12 col-lg-5 mb-5">
                <h2>Bienvenido</h2>
                <p class="fs-5 lead">David F.</p>
                @*<a href="" class="btn btn-success btn-lg fw-bold">¡Si, empecemos!</a>*@
            </article>
            @*<article class="col-12 col-lg-7 mb-5">
                    <img class="img-fluid" src="~/Content/Imagenes/site-multipage.jpg" alt="primera imagen">
                </article>*@
            <article class="col-12 col-lg-5 order-lg-1 mb-5">
                <h2>Sistema de Estacionamiento Urbano </h2>

            </article>
            <article class="col-12 col-lg-7 mb-5">
                <img class="img-fluid" src="~/Content/Imagenes/logo gamlp.png" alt="primera imagen" width="85%">
            </article>
        </div>
    </section>

    @*<div class="row">
            <section class="col-md-4 card" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Notificación uno</h2>
                <p>
                    Se encarga de la gestión y control del cumplimiento normativo del Banco conforme a la normativa vigente, habiendo tomado las medidas preventivas y correctivas necesarias.
                </p>
                <p>
                    <label for="calendar">Fecha Vencimiento:</label>
                    <input type="date" id="calendar" value="2024-07-01">
                </p>
                <p><a class="btn btn-outline-dark" href="@Url.Action("Revision","Actividad")">Ver &raquo;</a></p>
            </section>
            <section class="col-md-4 card" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Notificación dos</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p>
                    <label for="calendar">Fecha Vencimiento:</label>
                    <input type="date" id="calendar" value="2024-08-01">
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver &raquo;</a></p>
            </section>
            <section class="col-md-4 card" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Notificación tres</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p>
                    <label for="calendar">Fecha Vencimiento:</label>
                    <input type="date" id="calendar" value="2024-07-15">
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver &raquo;</a></p>
            </section>
        </div>*@
</div>
