
@{
    ViewBag.Title = "LisUsuarioEmpresa";
    Layout = "~/Views/Shared/_Layout_Empresa.cshtml";
}
<div class="alert alert-primary" role="alert">
    Bienvenido:  Empresa2.SRL <a href="#" class="alert-link">Empresa</a>
</div>
<div class="container" style="background-color: #f2f6fa">
    <div style="padding:20px">
        <h3>Agregar Nuevo Usuario</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Completo</th>
                    <th>Carnet Idnetidad</th>
                    <th>Correo</th>
                    <th>Tipo</th>
                    <th>Usuario</th>
                    <th>Password</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var user in Model)
                    {*@
                <tr>
                    <td>1</td>
                    <td>Sebastian Yatra</td>
                    <td>3215645</td>
                    <td>elsebas@hotmail.com</td>
                    <th>Operador</th>
                    <td>SebastianUser</td>
                    <td>**************</td>
                    <td class="align-middle">
                        <button type="button">Editar</button>
                        @*<button type="button">Eliminar</button>*@
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Santos Ramos</td>
                    <td>8545641</td>
                    <td>aantos@hotmail.com</td>
                    <th>Operador</th>
                    <td>santosUser</td>
                    <td>**************</td>
                    <td class="align-middle">
                        <button type="button">Editar</button>
                        @*<button type="button">Eliminar</button>*@
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Camilo Nandes</td>
                    <td>6546846</td>
                    <td>camilo@hotmail.com</td>
                    <th>Inmovilizador</th>
                    <td>CamiloUser</td>
                    <td>**************</td>
                    <td class="align-middle">
                        <button type="button">Editar</button>
                        @*<button type="button">Eliminar</button>*@
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Marquina Flores</td>
                    <td>51561561</td>
                    <td>marquina@hotmail.com</td>
                    <th>Remolcador</th>
                    <td>marquinaUser</td>
                    <td>**************</td>
                    <td class="align-middle">
                        <button type="button">Editar</button>
                        @*<button type="button">Eliminar</button>*@
                    </td>
                </tr>
                @*}*@ @*}*@
            </tbody>
        </table>



    </div>
</div>

